body{background-color: red;}

.cubo{border: 1px solid white;
background-color: white;
height: 640px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;}

.puntos{
height: 100px;
width: 400px;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;}

.correcto{border: 1px solid red;
height: 100px;
width: 100px;
background-color: red;
color: white;
font-size:30px;
font-family: cursive; 
display: flex;
align-items: center;
justify-content: center;}

.incorrecto{border: 1px solid red;
height: 100px;
width: 100px;
background-color: red;
color: white;
font-size:30px;
font-family: cursive; 
display: flex;
align-items: center;
justify-content: center;}

.arriba{
height: 30px;
width: 100px;
}

.clavo1{height: 100%;}

.abajo{
height: 30px;
width: 100px;}

.clavo2{height: 100%;}

.numero{
height: 200px;
width: 900px;
display:flex; 
justify-content: space-around;
align-items: center;}

.cubiculo{
display: flex;
flex-direction: column;
align-items: center;}

.cubito1{border: 3px solid red;
height: 100px;
width: 100px;
color: blue;
font-size: 90px;
font-family: cursive;
display: flex;
align-items: center;
justify-content: center;}

.cubito{border: 3px solid red;
height: 130px;
width: 350px;
color: blue;
font-size: 90px;
font-family: cursive;
display: flex;
justify-content: center;
align-items:center; 
}

.seleccion{ height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.simbolo{border: 1px solid red;
background-color: white;
color: blue;
height: 70px;
width: 100px;
font-family: cursive;
font-size: 20px;
margin: 5px;}

.cubo1{
width: 100%;
display: flex;
justify-content: space-between;
background-image: url("../imagenes/fondo2,5.png");
background-size: 100% 100%;
background-repeat: no-repeat;}

.martillo{
height: 340px;}

.frasco{
height: 340px;}

.peque{height: 100%;}

.tiempo{border: 1px solid red;
height: 300px;
width: 350px;
background-color: red;
display: flex;
justify-content: center; 
align-items: center;
flex-direction: column;
justify-content: space-around;
color: white;
font-family: cursive;
font-size: 40px;}

.verificacion{border: 1px solid red;
background-color: white;
color: blue;
height: 70px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.res {
    display: none;
    position: fixed;
     top: 65%; 
     left: 50%;
     transform: translate(-50%, -50%); 
     background: red; 
     padding: 20px; 
     border: 2px solid blue; 
     text-align: center; 
     color: white; 
     font-family: cursive;

}

.sepa {
display: flex;
justify-content: space-around;
width: 450px;
}

.reinicio{border: 1px solid red;
background-color: white;
color: blue;
height: 60px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.salir{border: 1px solid red;
background-color: white;
color: blue;
height: 60px;
width: 100px;
font-family: cursive;
font-size: 20px;}
