body{background-color: green;
}

.cubo{border: 1px solid white;
background-color: white;
height: 620px;
display: flex;
justify-content: space-around;}

.cubo1{border: 3px solid green;
width: 70%;
display: flex;
justify-content: space-between;
}

.espacio{border: 1px solid green;
background-color: green;
text-transform: uppercase;
writing-mode: vertical-rl;
display: flex;
align-items: center;
justify-content: center;
color: #FFF52D;
font-family: cursive;
width: 38%;}

.cuerpo{
background-color: lightgreen;
width: 64%;}

.canasta{
width: 50%;
display: flex;
flex-direction: column;}

.partes{border: 1px solid green;
background-color: #FFF52D;
height: 100%;
width: 148px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
font-family: cursive;
color: green;}

.parte{background-color: red;
width: 100%;
height: 50%;
}

.cubo2{border: 3px solid green;
width: 30%;
display: flex;
flex-direction: column;}

 #organoMovil {
      display: none;
      position: absolute;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
      cursor: grab;
      z-index: 999;
    }

.puntos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.correcto{border: 1px solid green;
height: 70px;
width: 70px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: green;
display: flex;
align-items: center;
justify-content: center;}

.incorrecto{border: 1px solid green;
height: 70px;
width: 70px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: green;
display: flex;
align-items: center;
justify-content: center;}

.verificacion{border: 1px solid green;
background-color: white;
color: #FFF52D;
font-family: cursive;
font-size: 30px;
height: 100px;
width: 100%;}

.tiempo{border: 1px solid green; 
height: 100px;
width: 100%;
color: white;
font-family: cursive;
font-size: 30px;
background-color: green;
display: flex;
align-items: center;
justify-content: center;}

.texto{border: 3px solid #FFF52D;
border-radius: 50px;
height: 100px;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
display: flex;
align-items: center;
justify-content: center;
color: #FFF52D;
font-family: cursive;
font-size: 20px;
}

.pequeñin{width: 100%;
height: 205px;}

  #organoMovil {
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    display: none;
    pointer-events: none;
  }

.res{display:none; 
    position: fixed; 
    top: 50%; 
    left: 35%; 
    transform: translate(-50%, -50%); 
    background: green; 
    height: 450px;
    width: 400px;
    border: 2px solid #FFF52D; 
    text-align: center; 
    color: white; 
    font-family: cursive;
    font-size: 30px;
    }

.boton1{border: 1px solid green;
background-color: white;
color: #FFF52D;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 40px;
}

.boton2{border: 1px solid green;
background-color: white;
color: #FFF52D;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.botones{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 400px;
}
