body{background-color: green;}

.cubo{border: 1px solid white;
background-color: white;
height: 625px;
display: flex;
flex-direction: column;
}

.fila{
height: 50%;
display: flex;
justify-content: space-around;
align-items: center;}

.cuadro{border: 3px solid #FFF52D;
height: 305px;
width: 380px;
display: flex;
flex-direction: column;}

.nombre{border: 1px solid #FFF52D;
background-color: #FFF52D;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
color: green;
font-family: cursive;
font-size: 30px;}

.seminombre{border: 1px solid #FFF52D;
background-color: #FFF52D;
height: 20px;
display: flex;
align-items: center;
justify-content: center;
color: green;
font-family: cursive;
font-size: 15px;}

.img1{height: 83%;
width: 100%;}

.semicuadro{
height: 85%;
display: flex;
flex-direction: column;}

.semifila{
height: 50%;
display: flex;
justify-content: space-around;}

.cubito{
height: 100%;
width: 50%;}

.tiempo{border: 1px solid green; 
height: 100px;
width: 200px;
color: white;
font-family: cursive;
font-size: 50px;
background-color: green;
display: flex;
align-items: center;
justify-content: center;}

.correcto{border: 1px solid green;
height: 100px;
width: 100px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: green;
display: flex;
align-items: center;
justify-content: center;}

.img2{height: 120px;
width: 300px;}

.incorrecto{border: 1px solid green;
height: 100px;
width: 100px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: green;
display: flex;
align-items: center;
justify-content: center;}

.foto {border: 1px solid #FFF52D;
background-color: yellow;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
min-height: 220px; 
}

canvas {
display: block;
max-width: 100%;
max-height: 100%;
height: auto;
margin: auto;
}

.espacio{
height: 100%;
width: 400px;
display: flex;
justify-content: center;
align-items: center;}

.res{display:none; 
    position: fixed; 
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: green; 
    padding: 50px; 
    border: 2px solid #FFF52D; 
    text-align: center; 
    color: white; 
    font-family: cursive;}

.boton1{border: 1px solid green;
background-color: white;
color: yellow;
height: 90px;
width: 200px;
font-family: cursive;
font-size: 40px;
}

.boton2{border: 1px solid green;
background-color: white;
color: yellow;
height: 60px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.botones{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 450px;}