body{background-color: #FFF52D;}

.cubo{border: 1px solid white;
background-color: white;
height: 620px;
display: flex;
}

 canvas {
      border: 1px solid green;
      background-color: green;
      display: block;
    }


.cubo1{
width: 70%;
display: flex;}

.sistema{border: 3px solid #FFF52D;
width: 80%;}

.planetas{border: 1px solid green;
background-color: green;
width: 20%;}

.cubo2{
width: 30%;
display: flex;
flex-direction: column;}

.puntos{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}

.correcto{border: 1px solid #FFF52D;
height: 70px;
width: 70px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: #FFF52D;
display: flex;
align-items: center;
justify-content: center;}

.incorrecto{border: 1px solid #FFF52D;
height: 70px;
width: 70px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: #FFF52D;
display: flex;
align-items: center;
justify-content: center;}

.tiempo{border: 1px solid #FFF52D; 
height: 100px;
width: 356px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: #FFF52D;
display: flex;
align-items: center;
justify-content: center;}

.texto{
border-radius: 50px;
height: 100px;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 5px;
display: flex;
align-items: center;
justify-content: center;
color: green;
font-family: cursive;
font-size: 20px;
}

.pequeñin{width: 100%;
height: 250px;}

.res{display:none; 
    position: fixed; 
    top: 39%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    background: #FFF52D; 
    height: 450px;
    width: 400px;
    border: 2px solid green; 
    text-align: center; 
    color: white; 
    font-family: cursive;
    font-size: 30px;
    }

.boton1{border: 1px solid #FFF52D;
background-color: white;
color: green;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 40px;
}

.boton2{border: 1px solid #FFF52D;
background-color: white;
color: green;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.botones{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 400px;
}