body{background-color: black;}

.cubo{background-color: white;
border: 1px solid white;
height: 620px;
display: flex;
justify-content: space-around;}

.cubo1{border: 1px solid black;
background-image: url(../imagenes/fondo2,2.png);
background-repeat: no-repeat;
background-size: 100% 100%;
width: 70%;
display: flex;
justify-content: center;
align-items: center;
}

 .cuadro {
            border: 3px solid #804000;
            background-color: white;
            width: 45%;
            height: 85%;
            margin: auto;
        }

   
.cubo2{border: 1px solid black;
width: 30%;
display: flex;
flex-direction: column;}

.verificacion{border: 1px solid black;
background-color: white;
color: #804000;
font-family: cursive;
font-size: 30px;
height: 100px;
width: 100%;}

.puntos{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 422px;
}

.correcto{border: 1px solid black;
height: 100px;
width: 100px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: black;
display: flex;
align-items: center;
justify-content: center;}

.incorrecto{border: 1px solid black;
height: 100px;
width: 100px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: black;
display: flex;
align-items: center;
justify-content: center;}

.texto{border: 3px solid #804000;
border-radius: 30px;
height: 30%;
color: #804000;
font-size: 50px;
font-family: cursive;
display: flex;
align-items: center;
justify-content: center;
}

 canvas {border: 1px solid #804000;
touch-action: none;
cursor: crosshair;
}

.tiempo{border: 1px solid black; 
height: 100px;
width: 357px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: black;
display: flex;
align-items: center;
justify-content: center;}

.res{display:none; 
    position: fixed; 
    top: 36%; 
    left: 83%; 
    transform: translate(-50%, -50%); 
    background: black; 
    height: 450px;
    width: 400px;
    border: 2px solid #804000; 
    text-align: center; 
    color: white; 
    font-family: cursive;
    font-size: 30px;
    }

.boton1{border: 1px solid black;
background-color: white;
color: #804000;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 40px;
}

.boton2{border: 1px solid black;
background-color: white;
color: #804000;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.botones{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 400px;
}