body{background-color: purple;}

.cubo{border: 1px solid white;
background-color: white;
height: 625px;
display: flex;}

.cubo1{border: 1px solid purple;
width: 80%;
display: flex;
justify-content: space-around;
flex-direction: column;
}

.empezar{border: 1px solid purple;
background-color: purple;
color: white;
font-family: cursive;
font-size: 30px;
height: 50px;
width: 200px;
border-radius: 50px;}

.caja1{border: 1px solid purple;
height: 215px;
width: 100%;
display: flex;}

.caja2{border: 1px solid purple;
width: 187px;
display: flex;
flex-direction: column;}

.caja{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.casa{
width: 100%;
height: 80%;
display: flex;}

.casa1{
height: 100%;
width: 80%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}

.cosas{cursor: grab;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            background-color: purple;
            border: 1px solid purple;
            color: white;
}

.acomodacion1{
height: 106px;
width: 190px;
display: flex;
align-items: center;
justify-content: space-around;}

.piso1{
height: 30%;
width: 80%;
display: flex;
justify-content: space-around;}

.piso{
height: 30%;
width: 68%;
display: flex;
justify-content: space-around;}

.atico{
width: 100%;
background-image: url(../imagenes/atico1.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.recamara{border: 3px solid purple;
width: 50%;
background-image: url(../imagenes/recamara2.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.baño{border: 3px solid purple;
width: 50%;
background-image: url(../imagenes/bano2,2.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.estudio{border: 3px solid purple;
width: 50%;
background-image: url(../imagenes/estudio2,2.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.sala{border: 3px solid purple;
width: 50%;
background-image: url(../imagenes/sala2,2.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.cocina{border: 3px solid purple;
width: 50%;
background-image: url(../imagenes/cocina2,2.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.comedor{border: 3px solid purple;
width: 50%;
background-image: url(../imagenes/comedor1.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.sotano{border: 3px solid purple;
width: 100%;
background-image: url(../imagenes/sotano1.png);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: cursive;
font-size: 15px;
color: black;
display: flex;
justify-content: center;
align-items: center;}

.cubo2{border: 1px solid purple;
width: 20%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;}

.texto{border: 3px solid #FE8330;
border-radius: 50px;
color: #FE8330;
font-family: cursive;
display: flex;
align-items: center;
justify-content: center;
height: 70px;
width: 220px;
margin-left: 7px;
margin-right: 7px;
margin-top: 5px;}

.img1{height: 270px;
width: 100%;}

.verificacion{border: 1px solid purple;
background-color: white;
color: #FE8330;
font-family: cursive;
font-size: 20px;
height: 100px;
width: 100%;}

.puntos{border: 1px solid purple;
display: flex;
align-items: center;
justify-content: space-around;
height: 100px;
width: 100%;
}

.correcto{border: 1px solid purple;
height: 60px;
width: 60px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;}

.incorrecto{border: 1px solid purple;
height: 60px;
width: 60px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;}

.tiempo{border: 1px solid purple; 
height: 100px;
width: 100%;
color: white;
font-family: cursive;
font-size: 30px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;}

.mensaje{ border: 1px solid purple;
    height: 70px;
    width: 100%;}

.res{display:none; 
    position: fixed; 
    top: 67%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
    background: purple; 
    height: 400px;
    width: 550px;
    border: 2px solid #FE8330; 
    text-align: center; 
    color: white; 
    font-family: cursive;
    font-size: 30px;
    }

.boton1{border: 1px solid #FE8330;
background-color: white;
color: purple;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 40px;
}

.boton2{border: 1px solid #FE8330;
background-color: white;
color: purple;
height: 90px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.botones{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 550px;
}