body{background-color: purple;}

.cubo{border: 1px solid white;
background-color: white;
height: 625px;
display: flex;
flex-direction: column;
align-items: center;}

.cubo1{
height: 60%;
width: 100%;
background-image: url(../imagenes/fondo2.png);
background-repeat: no-repeat;
background-size: 100% 100%}

.empezar{border: 1px solid purple;
background-color: purple;
color: white;
font-family: cursive;
font-size: 30px;
height: 100px;
width: 800px;
border-radius: 150%;}

.familia1{
height: 25%;
display: flex;
align-items: center;
justify-content: center;}

.familia2{
height: 25%;
display: flex;
align-items: center;
justify-content: space-around;}

.familia3{
height: 25%;
display: flex;
align-items: center;
justify-content: space-around;}

.bisabuelos{
height: 100%;
width: 30%;
display: flex;
align-items: center;
justify-content: space-around;}

.abuelos{
height: 100%;
width: 30%;
display: flex;
align-items: center;
justify-content: space-around;}

.tios{
height: 100%;
width: 30%;
display: flex;
align-items: center;
justify-content: space-around;}

.padres{
height: 100%;
width: 30%;
display: flex;
align-items: center;
justify-content: space-around;}

.primos{
height: 100%;
width: 30%;
display: flex;
align-items: center;
justify-content: space-around;}

.pequeñin{
height: 100%;
width: 30%;
display: flex;
align-items: center;
justify-content: space-around;}

.circulo{border: 3px solid #FE8330;
border-radius: 100%;
background-color: white;
width: 90px;
height: 90px;
font-family: cursive;
font-size: 9px;
color: #FE8330;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.circulo.seleccionado {
    border: 3px solid purple;
    background-color: purple;
}

.circulo1{border: 3px solid #FE8330;
border-radius: 100%;
background-image: url(../imagenes/fondo1,2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
width: 90px;
height: 90px;
}

.cubo2{border: 3px solid #FE8330;
border-radius: 30%;
height: 20%;
width: 70%;
display: flex;
align-items: center;
justify-content: center;
color: #FE8330;
font-family: cursive;
font-size: 40px;
}
 
.cubo3{width: 100%;
height: 20%;
display: flex;
align-items: center;
justify-content: space-around;}

.verificacion{border: 1px solid purple;
background-color: white;
color: #FE8330;
font-family: cursive;
font-size: 30px;
height: 100px;
width: 200px;}

.correcto{border: 1px solid purple;
height: 100px;
width: 100px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;}

.incorrecto{border: 1px solid purple;
height: 100px;
width: 100px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;}

.tiempo{border: 1px solid purple; 
height: 100px;
width: 200px;
color: white;
font-family: cursive;
font-size: 30px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;}

.peque{height: 124px;}

.res{display:none; 
    position: fixed; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: purple; 
    height: 500px;
    width: 900px;
    border: 2px solid  #FE8330; 
    text-align: center; 
    color: white; 
    font-family: cursive;
    font-size: 40px;}

.boton1{border: 1px solid purple;
background-color: white;
color: #FE8330;
height: 90px;
width: 200px;
font-family: cursive;
font-size: 40px;
}

.boton2{border: 1px solid purple;
background-color: white;
color: #FE8330;
height: 60px;
width: 100px;
font-family: cursive;
font-size: 20px;}

.botones{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 900px;}